#logo{
    margin-left: 15px;
}

#first{
    justify-content: flex-end;
}

.navbar-brand{
    position: absolute;
    left: 47%;
    transform: translateX(-50%);
    top:10px;
}

.nav-item{
    margin: 0 20px;
}
 

#button{ /*make more specific then the bootstrap */
    border: none;
    outline: none;
}